<div class="content">
    <div class="app-icon"></div><br>
    <p style="font-size:26px; text-align:center;margin-bottom: 8px;">Timesheet Mobile<br>Approval</p>
    <div style="text-align: center;">
        <p>v2.1.1</p><hr>
        <p style="margin-bottom: 0px;">2018 &copy; <br>PT. Mitra Pinasthika Mustika Rent</p>
    </div>
</div>