<style>
    .item {
        margin: 0px;
        transition-delay: 0.09s;
        border: 0;
        border-bottom: solid #ddd 1px;
    }
</style>

<ion-view view-title="Kontak Admin">
        <ion-content style="background-color:#00aff0;background-image: url('img/bg-line.png');background-position: right top; background-size: cover;">
            <div class="hero no-header flat">
                    <div class="content">
                        <div class="app-icon"></div>
                        <h1 style="font-size:26px;">Timesheet Mobile<br>Approval</h1>
        
                    </div>
                </div>
            <div class="list" style="padding: 20px;">
                    <ion-md-input placeholder="Sandi Lama" highlight-color="balanced" ng-model="data.lama" type="password"></ion-md-input>
                    <ion-md-input placeholder="Sandi Baru" highlight-color="energized" ng-model="data.baru" type="password"></ion-md-input>
                    <ion-md-input placeholder="Ulangi Sandi Baru" highlight-color="energized" ng-model="data.baru_ulang" type="password"></ion-md-input>
                </div>
                <div class="padding">
                    <button ng-click="login()" class="button button-full button-assertive ink">Login</button>
                </div>
    </ion-content>
</ion-view>
