<style>
    .item {
        margin: 0px;
        transition-delay: 0.09s;
        border: 0;
        border-bottom: solid #ddd 1px;
        padding: 1vh;
    }
    
    .radio-toolbar input[type="radio"] {
        display: none;
      }
      
      .radio-toolbar label {
        display: inline-block;
        padding: 2px 4px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        width: 20%;
      }

    .emo-val {
        font-size: 8px;
        text-align: center;
    }
      
      .radio-toolbar input[type="radio"]:checked + label {
        background-color: #bbb;
        clear: none;
      }

      label > img {
          width: 100%;
          height: 100%;
      }

      .button-info {
          height: 30px !important;
          width: 30px !important;
      }

      .lable-value {
            float: right;
            max-width: 48%;
            white-space: normal;
            text-align: right;
      }
    .bar > .button + .button:last-child{
      top:0 !important;
      bottom:0 !important;
      position: relative;
      right: 0 !important;
      font-size: 11px;
    }
    .popup-container .popup {
      width: 350px;
      min-width: 80%;
    }
</style>

<ion-view view-title="{{ language[title] }}">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in has-header">
        <div>
            <ion-item ng-repeat="key in notSorted(tmss)" ng-init="value = tmss[key]">
                <ion-label style="font-weight: 500; width: 25%;">{{ language[key] }} :</ion-label>
                <ion-label class="lable-value" style="">{{value}}</ion-label>
            </ion-item>
        </div>
        <!--<div class="item card-item">
            <div class="card stable-bg ink ink-dark" ng-if="info == 'true'">
                <div class="item item-text-wrap">
                    <button  style="margin-bottom: 5px;" class="button button-small button-info button-fab button-energized-900 " nav-view="active"><i class="icon ion-android-menu"></i></button>
                    {{ language['menu'] }} <br>
                    <button  style="margin-bottom: 5px;" class="button button-small button-info button-fab button-positive " nav-view="active"><i class="icon ion-checkmark"></i></button>
                    {{ language['btnsetuju'] }} <br style="margin-bottom: 5px;">
                    <button class="button button-small button-info button-fab button-default2 " nav-view="active"><i class="icon ion-close"></i></button>
                    {{ language['btntsetuju'] }}
                </div>
            </div>
        </div>-->
    </ion-content>
  <ion-footer-bar style="height:auto">
    <div class="bar" style="position:absolute; bottom:0;" >

      <!--<button style="min-width:50%;" class="button button-balanced" ng-click="getApproveById()">Menyetujui</button>
      <button style="min-width:50%;" class="button button-assertive" ng-click="getNotApproveById()">Tidak Menyetujui</button>-->
      <button style="min-width:50%;" class="button button-balanced" ng-click="getApproveById()">{{language['menyetujui']}}</button>
      <button style="min-width:50%;" class="button button-assertive" ng-click="getNotApproveById()">{{language['tdkMenyetujui']}}</button>

    </div>
  </ion-footer-bar>
</ion-view>

