<style>
    .item {
        margin: 0px;
        transition-delay: 0.09s;
        border: 0;
        border-bottom: solid #ddd 1px;
    }
</style>

<ion-view view-title="{{title}}">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <ion-item ng-repeat="key in notSorted(tmss)" ng-init="value = tmss[key]">
            <ion-label style="font-weight: 500; width: 30%;">{{key}}</ion-label>
            <ion-label style="float: right;">{{value}}</ion-label>
        </ion-item>
    </ion-content>
    <ion-nav-view  name="fabContent" id="fab-bottom" class="view-container" nav-view-transition="android" nav-view-direction="none" nav-swipe="">
        <button ng-if="fab == 'true'" ng-click="getApproveById()" id="fab-approve" class="button button-fab button-fab-bottom-right expanded button-energized-900 flap pane on" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
            <i class="icon ion-checkmark"></i>
        </button>
</ion-nav-view>
</ion-view>
