<ion-view view-title="{{ language['pengemudi'] }}">
        <div class="tabs tabs-dark tabs-icon-top static" style="position: absolute;background-color: #01aff0;">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-home"></i> {{ language['beranda'] }}
            </a>
            <a ui-sref="app.approved" class="tab-item">
                <i class="icon ion-checkmark"></i> {{ language['setuju'] }}
            </a>
            <a ui-sref="app.drivers" style="border-bottom: 3px solid;color:white;opacity: 1; background: #05a3de;" class="tab-item">
                <i class="icon ion-android-people"></i> {{ language['pengemudi'] }}
            </a>
            <!-- <a ui-sref="app.inbox" class="tab-item">
                <i class="icon ion-chatboxes"></i> Pesan
            </a> -->
        </div>
        <ion-content ng-class="{expanded:$scope.isExpanded}">
            <ion-refresher pulling-text="{{ language['tarik'] }}..." on-refresh="doRefresh()"></ion-refresher>
            <div class="list animate-fade-slide-in-right" style="margin:0px;" ng-repeat="tms in tmss" ng-model="tms.checked">
                <a ui-sref="app.friends" style="padding: 5px 10px; display: inline-block;" class="item item-avatar item-icon-right">
                    <div class="gavatar" id="gavarar{{tms.id}}">{{tms.shortname}}</div>
                    <div style="display: inherit;">
                        <h2>{{tms.firstname}} {{tms.lastname}}</h2>
                        <p>
                            {{ language['telp'] }}  : {{tms.phone}} 
                            <br>
                            Rating   : {{tms.rating}}
                        </p>
                    </div>
                    <!--<i class="icon ion-ios-arrow-forward muted"></i>-->
                    <hr style="margin: 10px 30px 0px 30px; border: solid #ddd9d7 1px;">
                </a>
            </div>
        </ion-content>
    </ion-view>
