
<!-- <div class="fab-menu-overlay" id="overlay1" ng-class="{active: fabMenu.active}" ng-click="fabMenuToggle()"></div> -->
<div class="fab-menu fab-menu-top-right" ng-class="{active: fabMenu.active}">
    <ul class="fab-menu-items">
        <li>
            <button id="fab-approve" ng-click="getApproveById()" class="button button-cir button-positive button-fab-top-right expanded button-energized-900"><i class="icon ion-checkmark"></i></button>
        </li>
        <li>
            <button id="fab-not-approve" ng-click="getNotApproveById()" class="button button-cir button-default2 button-fab-top-right expanded button-energized-900"><i class="icon ion-close"></i></button>
        </li>
    </ul>
</div>
