<style>
    .lable {    
        padding: 2px !important;
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 11px !important;
    }

    .popup-container .popup {
        width: 340px;
    }
</style>

<ion-view view-title="{{ language['beranda'] }}">   
        <div class="tabs tabs-dark tabs-icon-top static" style="position: absolute;background-color: #01aff0;">
            <a ui-sref="app.home" class="tab-item" style="border-bottom: 3px solid;color:white;opacity: 1;background: #05a3de;">
                <i class="icon ion-home"></i> {{ language['beranda'] }}
            </a>
            <a ui-sref="app.approved" class="tab-item">
                <i class="icon ion-checkmark"></i> {{ language['setuju'] }}
            </a>
            <a ui-sref="app.drivers" class="tab-item">
                <i class="icon ion-android-people"></i> {{ language['pengemudi'] }}
            </a>
            <!-- <a ui-sref="app.inbox" class="tab-item">
                <i class="icon ion-chatboxes"></i> Pesan
            </a> -->
        </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <ion-refresher pulling-text="{{ language['tarik'] }}..." on-refresh="doRefresh()"></ion-refresher>
        <div class="hero slide-up" style="background-image: url('img/water.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/rentoguchi-box.png');"></div>
                <h3><a class="light">{{username}}</a></h3>
                <h4>{{access}}</h4>
            </div>
        </div>
        <!-- <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.approved" class="tab-item">
                <i class="icon ion-checkmark"></i> Disetujui
            </a>
            <a ui-sref="app.drivers" class="tab-item">
                <i class="icon ion-android-people"></i> Data Pengemudi
            </a>
            <a ui-sref="app.inbox" class="tab-item">
                <i class="icon ion-chatboxes"></i> Pesan
            </a>
        </div> -->
        <h4 class="content padding double-padding-x">{{ language['tsetuju'] }} ({{count}})</h4>
        <div class="list animate-fade-slide-in-right" style="margin:0px;" ng-repeat="tms in tmss">
            <a ui-sref="app.detail({id: '{{tms.id}}', type: 'pending'})" style="padding: 5px 10px; display: inline-block;" class="item item-avatar item-icon-right">
                <div class="gavatar" id="gavarar{{tms.id}}">{{tms.shortname}}</div>
                <div style="display: inherit;">
                    <h2>{{tms.fullname}} </h2>
                    <p>
                        {{ language['absmasuk'] }}  : {{tms.start_time| dateToISO | date:'dd/MM/yyyy HH:mm' }} 
                        <br>
                        {{ language['abspulang'] }} : <span ng-if="tms.end_time">{{tms.end_time| dateToISO | date:'dd/MM/yyyy HH:mm'}}</span>
                        <span ng-if="!tms.end_time">~<span>
                    </p>
                    <h2 ng-if="tms.status == 1" class="outline padding balanced inline img-rounded lable" style="color: #ff6868;">
                        {{ language['tdksetuju'] }}
                    </h2>
                    <h2 ng-if="tms.status == 2" class="outline padding balanced inline img-rounded lable" style="color: #49dc2e;">
                        {{ language['berubah'] }}
                    </h2>
                </div>
                <i class="icon ion-ios-arrow-forward muted"></i>
                <hr style="margin: 10px 30px 0px 30px; border: solid #ddd9d7 1px;">
            </a>
        </div>
    </ion-content>
</ion-view>
