<ion-view view-title="Pesan Masuk">
    <div class="tabs tabs-dark tabs-icon-top static" style="position: absolute;background-color: #01aff0;">
        <a ui-sref="app.home" class="tab-item">
            <i class="icon ion-home"></i> Beranda
        </a>
        <a ui-sref="app.approved" class="tab-item">
            <i class="icon ion-checkmark"></i> Disetujui
        </a>
        <a ui-sref="app.drivers" class="tab-item">
            <i class="icon ion-android-people"></i> Data Pengemudi
        </a>
        <a ui-sref="app.inbox" class="tab-item" style="border-bottom: 3px solid;color:white;opacity: 1;background: #05a3de;">
            <i class="icon ion-chatboxes"></i> Pesan
        </a>
    </div>
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                    <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> ...
                    <a class="image"><img src="img/sansa-snowcastle.png">
                    </a>
                    <a class="image"><img src="img/sansa-snowcastle2.jpg">
                    </a>
                    <a class="image"><img src="img/sansa-snowcastle3.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
