<style>
    .contact-top img {
        height: 72px;
        float: left;
        margin-right: 10px;
        background-color: #00aff0;
        padding: 5px;
    }

    .contact-top p span {
        font-size: 26px;
        text-align: right;
    }

    .contact-top-telp p span {
        font-size: 31px;
        line-height: 32px;
    }

    .contact-top-telp p {
        color: #f37022;
        margin: 0px 0px 4px 0px;
        font-size: 16px;
        font-weight: 600;
        word-spacing: 4px;
        line-height: 14px;
    }

    .orange {
        color: #f37022;
        margin: 0px 0px 4px 0px;
        font-size: 16px;
        font-weight: 600;
        word-spacing: 4px;
        line-height: 14px;
        text-align: center;
        text-decoration: none;
    }

    .phone {
        font-family: arial;
        font-weight: 600;
        color: black;
        margin: 0px;
    }

    .contact-footer {
        margin-top: 0px;
        padding-left: 0px;
        align-items: center;
        padding-top: 10px;
        text-align: right;
    }
</style>

<div class="content">
        <div style="text-align: center;">
            <p style="margin-bottom: 0px;text-align: justify;">{{ language['info1'] }} :</p>
        </div>
        <div class="col-lg-4 | col-md-4 | col-sm-4">
            <div class="contact-footer">
                <div class="contact-top | color-white">
                    <div class="contact-top-telp">
                        <img src="http://www.mpm-rent.com/wp-content/themes/mpm/asset/img/icon-telp-white.png" alt="MPMRent Contact">
                        <p>{{ language['info2'] }}</p>
                        <p><span><a class="phone" href="tel:0211500068">1500068</a></span></p>
                    </div>
                    <div class="contact-top-email">
                        <p class="phone">Email : <a class="phone" href="mailto:contact@mpm-rent.com">contact@mpm-rent.com</a></p>
                    </div>
                </div>
            </div>
        </div><hr>
        <div style="text-align: center;">
            <p style="margin-bottom: 0px;text-align: justify;">{{ language['info3'] }} :</p>
        </div>
        <div class="col-lg-4 | col-md-4 | col-sm-4">
            <div class="contact-footer">
                <div class="contact-top | color-white">
                    <div class="contact-top-telp">
                        <!-- <img src="http://www.mpm-rent.com/wp-content/themes/mpm/asset/img/icon-telp-white.png" alt="MPMRent Contact"> -->
                        <p>Japan Desk</p>
                        <p><span><a class="phone" href="tel:0215360077">53160077</a></span></p>
                    </div>
                    <div class="contact-top-email">
                        <p class="phone">{{ language['info4'] }} : <a class="phone" href="tel:08111225499">0811 1225 499</a></p>
                        <p class="phone">{{ language['info5'] }} : <a class="phone" href="mailto:jcbu@mpm-rent.com">jcbu@mpm-rent.com</a></p>
                    </div>
                </div>
            </div>
        </div><hr>
        <div style="text-align: center;">
            <p style="margin-bottom: 0px;text-align: center;">{{ language['info6'] }} </p>
            <a target="_blank" onclick="window.open('http://timesheet.mpm-rent.net', '_system', 'location=yes')" class="orange">timesheet.mpm-rent.net</a>
        </div>
    </div>
</div>