<style>
    .hero {
        background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(0,176,240,0.5) 100%) !important;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.5)), color-stop(100%, rgba(0,176,240,0.5))) !important;
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(0,176,240,0.5) 100%) !important;
        background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(0,176,240,0.5) 100%) !important;
        background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(0,176,240,0.5) 100%) !important;
        background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(0,176,240,0.5) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00b0f0', GradientType=0 ) !important;
    }

    .radio-toolbar input[type="radio"] {
        display: none;
    }
      
    .radio-toolbar label {
        display: inline-block;
        padding: 2px 4px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        width: 15.5%;
        margin-top: 20px;
        max-width: 56px;
    }

    .emo-val {
        font-size: 8px;
        text-align: center;
    }
      
    .radio-toolbar {
        text-align: right;
    }
    
    .radio-toolbar input[type="radio"]:checked + label {
        background-color: #fff;
        clear: none;
    }

    label > img {
        width: 100%;
        height: 100%;
    }
</style>

<ion-view view-title="Login" align-title="left">
    <ion-content style="background-color:#00aff0;background-image: url('img/bg-line.png');background-position: right top; background-size: cover;">
        <div class="hero no-header flat" style="z-index: 100000000;">
            <div class="content">
                <div class="app-icon"></div>
                <h1 style="font-size:26px;">Timesheet Mobile<br>Approval</h1>
            </div>
        </div>
        <hr style="width: 80%;">
        <div style="text-align:center;">
        </div>
        <div class="list" style="padding-right: 26px;">
            <ion-md-input placeholder="{{ language['nama'] }}" highlight-color="balanced" class="used" ng-model="data.uname" type="text"></ion-md-input>
            <ion-md-input placeholder="{{ language['sandi'] }}" highlight-color="energized" ng-model="data.passwd" type="password"></ion-md-input>
            <!-- <ion-item class="item item-input">
                <label class="item item-input item-select"> 
                    <select> 
                        <option>English</option> 
                        <option selected>Indonesia</option> 
                        <option>Japan</option> 
                    </select> 
                </label>
            </ion-item> -->
            <div class="radio-toolbar">
                <input ng-value="checked"  ng-click="radioChecked(1)" type="radio" ng-model="datalang.radio" value="ind" name="radio" id="radio1" class="ng-pristine ng-untouched ng-valid">
                <label for="radio1" class="rad"><img src="img/ind.png">
                </label>
                <input type="radio" ng-click="radioChecked(2)" ng-model="datalang.radio" value="eng" name="radio" id="radio2" class="ng-pristine ng-untouched ng-valid">
                <label for="radio2" class="rad"><img src="img/eng.png">
                </label>
                <input type="radio" ng-click="radioChecked(3)" ng-model="datalang.radio" value="jap" name="radio" id="radio3" class="ng-pristine ng-untouched ng-valid">
                <label for="radio3" class="rad"><img src="img/jap.png">
                </label>
            </div>
        </div>
        <div class="padding">
            <button ng-click="login()" class="button button-full button-assertive ink">{{ language['masuk'] }}</button>
        </div>
        <!-- <div class="padding" style="margin-top:-30px!important;">
            <a ng-click="mailto('admin.tsm@mpm-rent.com')" href="#" class="button button-small button-full button-default ink">Forget or don't have account</a>
        </div> -->
        <!-- <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
    <h4 style="bottom:0px;
    text-align: center;
    width: 100%;
    position: absolute; font-weight:100; background-color: #f26f22; margin-bottom: 0px; " class="button-default2">Version v{{getVersionCode}}</h4>
    <!-- <ion-footer-bar align-title="center" class="bar-light">
            <h1 class="title title-footer" style="    left: 0px !important;">PT Mitra Pinasthika Mustika Rent</h1>
            
    </ion-footer-bar> -->
</ion-view>
