<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                    <!--<img id="logoHead" style="height: 30px; margin-top: 4px; border-radius: 6px; background-color: white; margin-left: 5px;" src="img/ic_launcher.png">-->
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent" style="z-index: 1000000; pointer-events: none; background-color: rgba(0, 0, 0, 0);"></ion-nav-view>
        <fab-menu></fab-menu>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" >
        </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/ic_launcher.png'); border-radius:0px; background-size: cover;"></span>
            <h2>Timesheet Approve</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header"><hr style="margin: 0px;">
            <ion-list>
                <!-- <ion-item nav-clear menu-close ui-sref="app.home">
                    Beranda
                </ion-item> -->
                <!-- <ion-item nav-clear menu-close ui-sref="app.password">
                        Home
                </ion-item> -->
                <ion-item nav-clear menu-close ui-sref="app.password">
                    {{ language['ubahsan'] }}
                </ion-item>
                <!-- <ion-item nav-clear menu-close ui-sref="app.contact">
                    Kontak Admin
                </ion-item> -->
                <ion-item nav-clear menu-close ng-click="AboutPage()">
                    {{ language['tentang'] }}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="InfoPage()">
                    {{ language['info'] }}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="doLogout()" ui-sref="app.login">
                    {{ language['keluar'] }}
                </ion-item>
                <ion-item style="height: 100px; text-align: center; bottom: 0px; position: fixed;" nav-clear menu-close>
                    <img style="height: 100px;" src="img/ic_logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
