<div class="list">
  <ion-radio ng-repeat="item in reasonList" ng-value="item.value" ng-model="data.desc" class="radio-positive" onchange="onChangeReason(0)">
    {{ item.text }}
  </ion-radio>
  <ion-radio ng-value="Lain-lain" class="radio-positive" onchange="onChangeReason(1)">
    {{ language['reason7'] }}
  </ion-radio>
  <ion-list class="list" id="reason" name="reason" style="display: none">
    <ion-label style="padding: 10px 0px;white-space:normal;" class="item item-input">{{language['descnotapp']}}</ion-label>
    <textarea style="padding: 5px 10px;" rows="4" ng-model="data.desc" type="text" id="reason_txt" name="reason_txt"></textarea>
  </ion-list>
</div>
