<style>
        .item {
            margin: 0px;
            transition-delay: 0.09s;
            border: 0;
            border-bottom: solid #ddd 1px;
        }
    </style>
    
    <ion-view view-title="{{ language['ubahsan'] }}">
            <ion-content style="background-color:#00aff0;background-image: url('img/bg-line.png');background-position: right top; background-size: cover;">
                <div class="hero no-header flat">
                        <div class="content">
                            <div class="app-icon"></div>
                            <h1 style="font-size:26px;">Timesheet Mobile<br>Approval</h1>
            
                        </div>
                    </div>
                    <form (ngSubmit)="changePassword()">
                <div class="list" style="padding: 20px;">
                        <ion-md-input placeholder="{{ language['sandil'] }}" highlight-color="balanced" ng-model="change.old_password" type="password"></ion-md-input>
                        <ion-md-input placeholder="{{ language['sandib'] }}" highlight-color="energized" ng-model="change.new_password" type="password"></ion-md-input>
                        <ion-md-input placeholder="{{ language['sandiu'] }}" highlight-color="energized" ng-model="change.konf_new_password" type="password"></ion-md-input>
                    </div>
                    <div class="padding">
                        <button ng-click="changePassword()" class="button button-full button-assertive ink">{{ language['ubah'] }}</button>
                        <button ui-sref="app.home" class="button button-full button-default ink">{{ language['batal'] }}</button>
                    </div>
                    </form>
        </ion-content>
    </ion-view>
    