/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;    
    background: linear-gradient(to top, #00aff0, white 100%, transparent);
}

.menu-open .bar.bar-header.expanded {
    background: linear-gradient(to top, #00aff0, white 100%, transparent);
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/ic_launcher.png') center;
    background-size: cover;
    /* border-radius: 50%; */
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.gavatar{
    color: rgb(255, 255, 255);
    background-color: #00aff0;
    display: inline-block;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 24px;
    border-radius: 80px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 15px;
    text-align: center;
    vertical-align: bottom;
} 


body {
    /* background: url(http://rats-funnybone.com/wp-content/uploads/2013/08/aura-background-large-1.jpg) no-repeat; */
    background-size: 100%;
  }
  
  .fab-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1);
    transform: scale(1);
    position: absolute;
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding: 20px;
  }
  .fab-menu.fab-menu-left {
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
  }
  .fab-menu.fab-menu-top-right {
    top: 60px;
    right: 45px;
    left: auto;
    bottom: auto;
  }
  .fab-menu.fab-menu-right {
    top: auto;
    right: 0;
    left: auto;
    bottom: 0;
  }
  .fab-menu .fab-menu-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 101;
  }
  
  .fab-menu-items {
    /**
     * @see http://hugogiraudel.com/2013/04/02/items-on-circle/
     */
    z-index: 99;
    position: absolute;
    width: 0px;
    height: 0px;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    list-style: none;
  }
  .fab-menu.active .fab-menu-items {
    display: block;
  }
  .fab-menu-items > li {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
  }
  
  .fab-menu-overlay {
    -webkit-transition: all 0.2s ease 0.2s;
    transition: all 0.2s ease 0.2s;
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 98;
  }
  .fab-menu-overlay.active {
    display: block;
  }
  .button-default2, .button-default2:active, .button-default2:hover {
    border-color: #b2b2b2;
    background-color: #ee4035;
    color: white;
  }
  .button-positive, .button-positive:active, .button-positive:hover {
    border-color: #5aaf17;
    background-color: #5aaf17;
    color: #fff;
}

  .button-cir {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 9999;
    width: 56px;
    height: 56px;
    max-height: initial;
    max-width: initial;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: .3s fade-in-out;
    transition: .3s fade-in-out;
    -webkit-transition-property: -webkit-transform,box-shadow;
    transition-property: transform,box-shadow;
}

.button {
    padding: 0px;
}

/* .popup-container .popup {
    height: 100%;
} */